.wrapper {
  padding: 3%;
  padding-top: 1%;
  padding-left: 2%;
}

.nav {
  margin-top: 15%;
  list-style-type: none;
}

.nav li {
  list-style-type: none;
  font-size: 16px;
  color: #a0a0a0
}

li a {
  text-decoration: none;
  color: #a0a0a0;
}

li a:hover {
  color: #707070;
}

.logo {
  margin-left: 2%;
  margin-top: 1%;
}

.aboutLink {
  text-decoration: none;
  color: #a0a0a0;
  font-size: 13.5px;
}

.aboutLink:hover {
  color: #707070;
}

.activeLink {
  color: #707070;
}

.workDescription {
  margin-top: 15%;
  font-size: 18px;
  text-indent: 50px;
}

.menuLinks {
  margin-top: -3.5%; 
}

.menuLinks li {
  margin-bottom: 0;
  font-size: 13.5px;
}

.linksContainer {
  margin-top: -2%;
}

.logoText {
  font-size: 21px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 500;
}

.pageContainer {
  margin-top: 2%;
}

.galleryContainer {
  margin-top: 1.75%;
}

.contactText {
  margin-top: 6%;
}

.contactText p {
  font-size: 14px;
}