.wrapper {
  padding: 3%;
}

.nav {
  margin-top: 25%;
  list-style-type: none;
}

.nav li {
  list-style-type: none;
  font-size: 16px;
  color: #aaaaaa
}

li a {
  text-decoration: none;
  color: #aaaaaa;
}

li a:hover {
  color: #777777;
}
