.wrapper {
  padding: 3%;
  padding-top: 1%;
  padding-left: 2%;
}

.nav {
  margin-top: 15%;
  list-style-type: none;
}

.nav li {
  list-style-type: none;
  font-size: 16px;
  color: #aaaaaa
}

li a {
  text-decoration: none;
  color: #aaaaaa;
}

li a:hover {
  color: #777777;
}

.logo {
  margin-left: 2%;
  margin-top: 1%;
}

.logo img {
  width: 75%;
  height: auto;
}

.aboutLink {
  text-decoration: none;
  font-style: italic;
}

.workDescription {
  margin-top: 15%;
  font-size: 18px;
  text-indent: 50px;
}