---
layout: default
title: Places
folder: places
---
<div class="row">
  <div class="eleven columns">
    <div id="slides">
      {% assign image_files = site.static_files | where: "image", true %}
      {% for image in image_files %}
        {% if image.path contains page.folder %}
          <div><img src="{{ image.path }}" style="max-width: 100%; height: auto;" /></div>
        {% endif %}
      {% endfor %}
          <div class="workDescription">
            <p>These photographs depict the many environments which had struck me upon my interpretation of them. The documentation of my surroundings is an act which has been dear to me ever since I was given the privilege to travel beginning in my childhood. This ever-evolving series of work encapsulates not a place itself, as each given location already has its own archive of photographic depiction, but a cropped point of view of my own choosingThese photographs depict the many environments which had struck me upon my interpretation of them. The documentation of my surroundings is an act which has been dear to me ever since I was given the privilege to travel beginning in my childhood. This ever-evolving series of work encapsulates not a place itself, as each given location already has its own archive of photographic depiction, but a cropped point of view of my own choosing.</p>
          </div>
    </div>
  </div>
</div>
