<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    <div class="wrapper">
      <div class="row">
        <div class="two columns">
          {% include nav.html %}
        </div>
        <div class="nine columns">
          {{ content }}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var slider = $("#slides").slick({
          speed: 300,
          fade: true,
          arrows: false,
          lazyLoad: 'progressive'
        })
      })
    </script>
  </body>
</html>
